
<p>Songs</p>
<!--<input type='text' name='songName' [(ngModel)] = 'newSong'/> -->
<div class="example-container">
    
      <input  matInput placeholder="Cancion"[(ngModel)] = 'newSong'/> 
    
    <button mat-raised-button color="primary" (click) = 'searchSong()' >Buscar</button>
</div>

<table>
    <tr *ngFor='let song of songs'>
        <td>Cancion: </td><td>{{song.name}} </td>
        <td><span *ngFor='let artist of song.artists'>{{artist.name}} -- </span></td>
        
    </tr>
</table>
